body {
 	background: #fdfdfd;
  background-repeat: repeat;
	font-family:  "Niramit", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.row {
  margin-top: 30px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Crete Round', serif;
	color: #f78b59;
}
canvas {
	margin: 0 auto;
}
a {
  color: #f78b59;
}
