/* NAVBAR */
.navbar {
	border: none;
	border-top: 1px solid #080808;
	border-radius: 0;
	background: #000000;
}
.navbar-nav>li {
	float: none;
	padding: 0;
}
.nopadding {
	padding: 0;
}
.nomargin {
	margin: 0;
}
.main-button {
	margin-right: 30px;
}
/* DROPDOWN */
.dropdown-menu {
	width: 100%;
	padding: 15px;
}
.btn{
	width: 100%;
}
/* HEADER */
.banner {
	background: #000000;
	color: #ffffff;
	text-align: center;
	padding: 15px 0;
}
h1 {
	font-size: 72px;
	margin: 0;
}
/* MAIN CONTENT */
.github-widget {
	margin: 10px 0;
}
/* CATEGORY PAGE */
.categories {
	text-align: center;
}
.proj-btn {
	background: #000000;
}
.proj-btn:hover {
	background: #333333;
}
.well {
	background: #fcfcfc;
}
.glyphicon {
	font-size: 16px;
}
/* CAROUSEL */
.carousel-control {
	display: none;
}
.carousel-indicators {
	bottom: -25px;
}
.carousel-indicators li {
  background-color: #c9c9c9;
}
.carousel-indicators .active {
  background-color: #000000;
}
/* ABOUT PAGE */
.profile-img {
	border-radius: 100%;
}
/* BROWSE ALL PAGE */
dt {
	font-size: 16px;
}
.small-icon {
	font-size: 12px;
}
