/* HEADER */
.banner {
	background: #000000;
	color: #ffffff;
	text-align: center;
	padding: 15px 0;
}
h1 {
	font-size: 72px;
	margin: 0;
	font-family: 'Lato', sans-serif;
	color: #ffffff;
}
/* CAROUSEL */
#showcase {
    margin: 10px auto;
}
.carousel-indicators {
	bottom: -30px;
}
.carousel-indicators li {
  background-color: #c9c9c9;
}
.carousel-indicators .active {
  background-color: #000000;
}
.carousel-inner > .item > img, 
.carousel-inner > .item > a > img{
	margin: auto;
}
.whitespace {
	margin: 50px;
}
/* BROWSE ALL PAGE */
dt {
	font-size: 16px;
}
.small-icon {
	font-size: 12px;
}
/* MEDIA QUERIES */
@media (max-width: 767px) {
	
}
@media (max-width: 500px) {
	h1 {
		font-size: 48px;
	}
}
