<div class="sidebar">
  <h1><a href="/" id="sidebar-title">Liz Wigglesworth</a></h1>
  <p class="tagline">developer & cybersecurity enthusiast</p>
  <ul class="sidebar-links">
    <li><a href="/about">about</a></li>
    <!--<li><a href="/blog">blog</a></li>-->
    <li><a href="/portfolio">portfolio</a></li>
    <li><a href="/reading-list">reading list</a></li>
    <li><a href="/contact">contact</a></li>
  </ul>
  <ul class="sidebar-socials">
    <li><a href="https://github.com/lizgw" target="_blank"><img src="/assets/images/github-icon.png"/></a></li>
    <!--<li><a href="#" target="_blank"><img src="assets/images/twitter-icon.svg"/></a></li>-->
    <li><a href="https://www.linkedin.com/in/liz-wigglesworth/" target="_blank"><img src="/assets/images/linkedin-icon.png"/></a></li>
  </ul>
</div>