.homepage {
    padding: 6rem;

    background: -moz-linear-gradient(top, rgba(247,139,89,0.5) 0%, rgba(244,196,176,0.5) 100%);
    background: -webkit-linear-gradient(top, rgba(247,139,89,0.5) 0%,rgba(244,196,176,0.5) 100%);
    background: linear-gradient(to bottom, rgba(247,139,89,0.5) 0%,rgba(244,196,176,0.5) 100%);

    text-align: center;

    h1 {
        font-size: 5rem;
        font-family: $font-family-serif;
        @media screen and (max-width: $small-screen) {
            font-size: 3rem;
        }
    }

    ul {
        padding: 0px;
    }

    li {
        font-size: 2.5rem;
        list-style: none;
        padding: 0px;
        display: inline;
        margin: 15px;
        @media screen and (max-width: $small-screen) {
            font-size: 1.5rem;
            display: inline-block;
        }
    }
}