body {
 	background: #fdfdfd;
  /* modified geometry2 pattern by Tori Pantha on Subtle Patterns. */
  background-image: url("https://lizgw.github.io/images/geometry2-lighter.png");
  background-repeat: repeat;
	font-family: 'Maven Pro', sans-serif;
}
.row {
  margin-top: 30px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Bitter', serif;
	color: #277a32;
}
canvas {
	margin: 0 auto;
}
a {
  color: #277a32;
}
