#home .entry-wrapper, #page .entry-wrapper {
    max-width: 75%;
}

.grid-item {
	margin-bottom: 10px;
}

.grid-sorting {
	margin-bottom: 10px;
	text-align: center;
}

.grid-sorting a {
	display: inline;
	margin: 5px 20px;
	padding: 5px;
	text-align: center;
	font-size: 1.5em;
	border-radius: 10px;
	background-color: #f7f7f7;
}

.active {
	border-radius: 100%;
}

@media screen and (max-width: 480px) {
	#home .entry-wrapper, #page .entry-wrapper {
		max-width: 90%;
	}
	
	.grid-sizer,
	.grid-item { width: 48%; }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
	#home .entry-wrapper, #page .entry-wrapper {
		max-width: 90%;
	}
	
	.grid-sizer,
	.grid-item { width: 48%; }
}

@media screen and (min-width: 769px) and (max-width: 1052px) {
	.grid-sizer,
	.grid-item { width: 31%; }
}

@media screen and (min-width: 1053px) {
	.grid-sizer,
	.grid-item { width: 24%; }
}
