#home .entry-wrapper, #page .entry-wrapper {
    max-width: 65em;
}

.column {
	float: left;
	margin: 5px;
}

.grid-item img {
	margin: 5px;
}

.size-1of1 { width: 99%; }
.size-1of2 { width: 48%; }
.size-1of3 { width: 32%; }
.size-1of4 { width: 22%; }

@media screen and (max-width: 480px) {
	#grid[data-columns]::before {
		content: '1 .column.size-1of1';
	}
}

@media screen and (min-width: 481px) and (max-width: 768px) {
	#grid[data-columns]::before {
		content: '2 .column.size-1of2';
	}
}
@media screen and (min-width: 769px) {
	#grid[data-columns]::before {
		content: '4 .column.size-1of4';
	}
}